@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.view {
  /* border: 1px solid; */
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: black;
  color: whitesmoke;
}

.view__number {
  /* border: 1px solid; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: min(32rem, 50vw);
  font-weight: bold;
}

.panel {
  /* border: 1px solid red; */
  background-color: aliceblue;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.panel__group {
  /* border: 1px solid; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-evenly;
}

.panel__group__column {
  /* border: 1px solid; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: space-evenly;
}

.panel__group__column > span{
  text-align: center;
  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: darkblue;
}

button{
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: darkblue;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 .25rem black;
}

button:hover {
  background-color: whitesmoke;
  color: darkblue;
  box-shadow: inset 0 0 .5rem black;
}

